<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Andaaz Restaurant</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/business-casual.css" rel="stylesheet">
   
     <link href="/assets/css/site.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


 <div class="container">

    <div class = "row">
        
            <div class = "box" >
                <div class ="col-lg-2">
                </div>
                <h1 class = " col-lg-4">Hello <%=username%>!<h1>
                <div class ="col-lg-4">
                </div>
            
                <div class ="col-lg-2">
                    <form action="logout"  class = "form">
                    
                    <input type="submit" style="margin-top:-5px; margin-left:20px;" class="btn btn-info btn-lg text"  value="Logout"  />
                
                    </form>


                </div>


            </div>

        </div>




        <div class="row">
            <div class="box">
             <h2 class="intro-text text-center"><hr><strong>Edit Menu</strong><hr></h2>


             <div class="col-lg-4">

                <div class="table-title">
                <h2 class="intro-text text-center"><hr><strong>Breakfast Menu</strong><hr></h2>
                </div>
                <table class="table-fill">
                <thead>
                <tr>
                <th class="text-left">Dish</th>
                <th class="text-left">Price (RS.)</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                
                <% menu.forEach(function(item){ %>

                        <%if(item.type=='Breakfast'){ %>

                        <tr>
                            <td><%=item.dish %></td>
                            <td><%=item.price %></td>
                        </tr>

                        <%}%>

                        <% }) %>

                </tbody>
                </table>
  
                </div>

                <div class="col-lg-4">

                <div class="table-title">
                 <h2 class="intro-text text-center"><hr><strong>Lunch Menu</strong><hr></h2>
                </div>
                <table class="table-fill">
                <thead>
                <tr>
                <th class="text-left">Dish</th>
                <th class="text-left">Price (RS.)</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                
                <% menu.forEach(function(item){ %>

                        <%if(item.type=='Lunch'){ %>

                        <tr>
                            <td><%=item.dish %></td>
                            <td><%=item.price %></td>
                        </tr>

                        <%}%>

                        <% }) %>

                </tbody>
                </table>
  
                </div>

                <div class="col-lg-4">

                <div class="table-title">
                 <h2 class="intro-text text-center"><hr><strong>Dinner Menu</strong><hr></h2>
                </div>
                <table class="table-fill">
                <thead>
                <tr>
                <th class="text-left">Dish</th>
                <th class="text-left">Price (RS.)</th>
                </tr>
                </thead>
                <tbody class="table-hover">
                <% menu.forEach(function(item){ %>

                        <%if(item.type=='Dinner'){ %>

                        <tr>
                            <td><%=item.dish %></td>
                            <td><%=item.price %></td>
                        </tr>

                        <%}%>

                        <% }) %>
                </tbody>
                </table>
  
                </div>



            </div>
        </div>



        <div class="row">
            <div class="box">
             <h2 class="intro-text text-center"><hr><strong>Special Deals</strong><hr></h2>

            <%var i =0%>
            <% dealsArray.forEach(function(item){ %>
                
            
             <div class="col-lg-4">

             <div class="table-title">
             <h2 class="intro-text text-center"><hr><strong>Special Deal#<%=dealsPrices[i].id%>  Rs. <%=dealsPrices[i].price%></strong><hr></h2>
             
             </div>                        
             <table class="table-fill">
                <thead>
                    <tr>
                    <th class="text-left">Dish</th>
                    </tr>
                </thead>
                <tbody class="table-hover">

                         <% dealsArray[dealsPrices[i].id -1].forEach(function(item){ %>

                        <tr>
                            <td><%=item.dish %></td>
                        </tr>

                        <% }) %>

                </tbody>
            </table>
  
            </div>

            <%i = i+1%>
            <% }) %>

            </div>
        </div>



        <div class = "box" >
         <div class = "row">
        <form action="add_item" method="POST" class = "form">

           
                <label class="col-lg-1">Dish:</label>
                <input class="col-lg-2" required="true" minlength="3" placeholder="Dish name" name="dish"  />
       
           
                <label class="col-lg-2">Price in Rs:</label>
                <input class="col-lg-2" required="true" minlength="2" type = "number" placeholder="Price" name="price"  />

                <label class="col-lg-2">Select Type:</label>

                <select class="col-lg-2" required="true" style="color:#052483" name="type">
                        <option value="Breakfast" class="text" >Breakfast</option>
                        <option value="Lunch" class="text"  >Lunch</option>
                        <option value="Dinner" class="text"  >Dinner</option>
                </select>

            </div>
            <br />
             <div class = "row">
            <input type="submit" style = "margin-left: 35%;" class="btn btn-success btn-lg text col-sm-4"  value="Add"  />
           
        
        
        </form>
    </div>
    </div>



    <div class = "box" >
     <div class = "row">
        <form action="update_price" method="POST" class = "form">

           
                <label class="col-lg-1">Dish:</label>
                <select class="col-lg-2" name ="dish" required="true" style="color:#052483" >
                       

                        <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
       
                <label class="col-lg-2" style="margin-left:20px;">Price (Rs):</label>
                <input class="col-lg-2" placeholder="Price" name="price" required="true" minlength="2" type = "number"   />

                
                
                <input type="submit" style="margin-top:-5px; margin-left:20px;" class="btn btn-success btn-md text col-lg-3"  value="Update Price"  />
                <div class ="col-lg-2">
                </div>
               
        
        </form>
    </div>
 </div>





    <div class = "box" >
     <div class = "row">
        <form action="update_price_deal" method="POST" class = "form">

           
                <label class="col-lg-1">Dish:</label>
                <select class="col-lg-2" name ="deal" required="true" style="color:#052483" >
                       

                        <% dealsPrices.forEach(function(item){ %>

                        <option value="<%=item.id %>" class="text" >Deal# <%=item.id %></option>
                        
                        <% }) %>
                        

                </select>
       
                <label class="col-lg-2" style="margin-left:20px;">Price (Rs):</label>
                <input class="col-lg-2" placeholder="Price" name="price" required="true" minlength="2" type = "number"   />

                
                
                <input type="submit" style="margin-top:-5px; margin-left:20px;" class="btn btn-success btn-md text col-lg-3"  value="Update Price"  />
                <div class ="col-lg-2">
                </div>
               
        
        </form>
    </div>
 </div>



 <div class = "box" >
     <div class = "row">
        <form action="delete_deal" method="POST" class = "form">

           
                <label class="col-lg-1">Dish:</label>
                <select class="col-lg-2" name ="deal" required="true" style="color:#052483" >
                       

                        <% dealsPrices.forEach(function(item){ %>

                        <option value="<%=item.id %>" class="text" >Deal# <%=item.id %></option>
                        
                        <% }) %>
                        

                </select>
       
                
                <input type="submit" style="margin-top:-5px; margin-left:20px;" class="btn btn-success btn-md text col-lg-3"  value="Delete Deal"  />
                <div class ="col-lg-2">
                </div>
               
        
        </form>
    </div>
 </div>


 <div class = "box" >
     
        <form action="add_deal" method="POST" class = "form">

           <div class = "row">
                <label class="col-lg-1">Dish: 1</label>
                <select class="col-lg-2" name ="dish1" required="true" style="color:#052483" >
                       <option value="none" class="text" >None %></option>

                       <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
                </div>


                <div class = "row">
                <label class="col-lg-1">Dish: 2</label>
                <select class="col-lg-2" name ="dish2" required="true" style="color:#052483" >
                       <option value="none" class="text" >None %></option>

                       <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
                </div>


                <div class = "row">
                <label class="col-lg-1">Dish: 3</label>
                <select class="col-lg-2" name ="dish3" required="true" style="color:#052483" >
                       
                        <option value="none" class="text" >None %></option>
                       <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
                </div>


                <div class = "row">
                <label class="col-lg-1">Dish: 4</label>
                <select class="col-lg-2" name ="dish4" required="true" style="color:#052483" >
                       
                        <option value="none" class="text" >None %></option>
                       <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
                </div>






                <div class = "row">
                <label class="col-lg-1">Dish: 5</label>
                <select class="col-lg-2" name ="dish5" required="true" style="color:#052483" >
                       
                        <option value="none" class="text" >None %></option>
                       <% menu.forEach(function(item){ %>

                        <option value="<%=item.dish %>" class="text" ><%=item.dish %></option>
                        
                        <% }) %>
                        

                </select>
                </div>


                <br />
                 <div class = "row">
                <label class="col-lg-2" >Price (Rs):</label>
                <input class="col-lg-2" placeholder="Price" name="price" required="true" minlength="2" type = "number"   />

                
                
                <input type="submit" style="margin-top:-5px; margin-left:20px;" class="btn btn-success btn-md text col-lg-3"  value="Update Price"  />
                <div class ="col-lg-2">
                </div>
                </div>
               
        
        </form>
    
 </div>















    </div>





   
    <!-- /.container -->


    




    
    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
